In [43]:
import pandas as pd
#import numpy as np
import string

In [44]:
df = pd.read_csv("spam.csv")

In [45]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [47]:
df.groupby('label').describe()

      Unnamed: 0                                                         \
           count    mean          std     min      25%     50%      75%
label
ham       3672.0  1835.5  1060.159422     0.0   917.75  1835.5  2753.25
spam      1499.0  4421.0   432.868340  3672.0  4046.50  4421.0  4795.50

              label_num
          max     count mean  std  min  25%  50%  75%  max
label
ham    3671.0    3672.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam   5170.0    1499.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [48]:
df['spam']=df['label'].apply(lambda x:1 if x =='spam' else 0)

In [49]:
ndf = df[['label','text','spam']]

In [50]:
ndf.head()

  label                                               text  spam
0   ham  Subject: enron methanol ; meter # : 988291\r\n...     0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...     0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...     0
3  spam  Subject: photoshop , windows , office . cheap ...     1
4   ham  Subject: re : indian springs\r\nthis deal is t...     0

In [51]:
from sklearn.model_selection import train_test_split as tts 
x_train,x_test,y_train,y_test = tts(df.text,df.spam,test_size = .2,random_state =42 )

from sklearn.feature_extraction.text import CountVectorizer as cv
v = cv()
x_train_cnt = v.fit_transform(x_train.values)

In [52]:
 from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_cnt,y_train)

MultinomialNB()

In [53]:

email = input()

Subject: neon retreat\r\nh

In [54]:
mail_cnt = v.transform([email])
model.predict(mail_cnt)

array([0])

In [56]:
x_test_cnt = v.transform(x_test)
model.score(x_test_cnt,y_test)

0.9719806763285024